ServiceExpress/Service References/FlyAsiaService/FlyAsiaWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlyAsiaWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1382/WebService/FlyAsiaWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1382/WebService/FlyAsiaWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1382/WebService/FlyAsiaWebService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlyAsiaWebService_updateStatusWS_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStatusWS" />
  </wsdl:message>
  <wsdl:message name="IFlyAsiaWebService_updateStatusWS_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStatusWSResponse" />
  </wsdl:message>
  <wsdl:message name="IFlyAsiaWebService_getAllPurchaseOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllPurchaseOrder" />
  </wsdl:message>
  <wsdl:message name="IFlyAsiaWebService_getAllPurchaseOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllPurchaseOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlyAsiaWebService">
    <wsdl:operation name="updateStatusWS">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlyAsiaWebService/updateStatusWS" message="tns:IFlyAsiaWebService_updateStatusWS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlyAsiaWebService/updateStatusWSResponse" message="tns:IFlyAsiaWebService_updateStatusWS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllPurchaseOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlyAsiaWebService/getAllPurchaseOrder" message="tns:IFlyAsiaWebService_getAllPurchaseOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlyAsiaWebService/getAllPurchaseOrderResponse" message="tns:IFlyAsiaWebService_getAllPurchaseOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlyAsiaWebService" type="tns:IFlyAsiaWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateStatusWS">
      <soap:operation soapAction="http://tempuri.org/IFlyAsiaWebService/updateStatusWS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPurchaseOrder">
      <soap:operation soapAction="http://tempuri.org/IFlyAsiaWebService/getAllPurchaseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlyAsiaWebService">
    <wsdl:port name="BasicHttpBinding_IFlyAsiaWebService" binding="tns:BasicHttpBinding_IFlyAsiaWebService">
      <soap:address location="http://localhost:1382/WebService/FlyAsiaWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>